button {
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
}

.blue_button {
  background-color: #6558f5;
  border: 0px;
  border-radius: 5px;
  color: white;
  width: fit-content;
}

.transparent_button {
  background-color: white;
  width: 10px;
}

.icon_button {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.home_view {
  margin: auto;
  width: 60%;
}

.home_view_header {
  text-align: center;
  margin-bottom: 10%;
}
